/.ackrc
/blib/
.build
cpanfile.snapshot
/_eumm/
!/.gitignore
/local
/Makefile
/Makefile.old
/MANIFEST.bak
/MANIFEST.SKIP.bak
/MYMETA.json
/MYMETA.yml
/pm_to_blib
/README
*.sw*
/.tidyall.d
tidyall.ERR
/WWW-Mechanize-*/
/WWW-Mechanize-*.tar.gz
/.vscode
/cover_db