/.ackrc
/blib/
.build
/_eumm/
!/.gitignore
/Makefile
/Makefile.old
/MANIFEST.bak
/MANIFEST.SKIP.bak
/MYMETA.json
/MYMETA.yml
/pm_to_blib
/README
*.sw*
/WWW-Mechanize-*/
/WWW-Mechanize-*.tar.gz
/.project
