/.ackrc
/.tidyall.d
/.vscode
/MANIFEST.SKIP.bak
/MANIFEST.bak
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.old
/README
/WWW-Mechanize-*/
/WWW-Mechanize-*.tar.gz
/_eumm/
/blib/
/cover_db
/local
/pm_to_blib
*.sw*
.build
cpanfile.snapshot
tidyall.ERR
!/.gitignore
