# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
Chase Whitener <capoeirab@cpan.org> <chase.whitener@infotechfl.com>
David Steinbrunner <dsteinbrunner@pobox.com> <dsteinbrunner@MountainBook-Pro.local>
Max Maischein <corion@cpan.org> <corion@corion.net>
