# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Chase Whitener <capoeirab@cpan.org> <cwhitener@gmail.com>
Chase Whitener <capoeirab@cpan.org> <chase.whitener@infotechfl.com>
David Steinbrunner <dsteinbrunner@pobox.com> <dsteinbrunner@MountainBook-Pro.local>
Max Maischein <corion@cpan.org> <corion@corion.net>
Alastair Douglas <altreus@altre.us> <alastair.mcgowan@opusvl.com>
Julien Fiegehenn <simbabque@cpan.org> simbabque <simbabque@cpan.org>
Gareth Tunley <gjtunley@gmail.com> <gjtunley@gmail.com>
Gareth Tunley <gjtunley@gmail.com> gquipster <gjtunley@gmail.com>
Stuart Johnston <saj_git@thecommune.net> <117183+sjohnston@users.noreply.github.com>
